body
{
	margin-top:20px;
	font-family: 'Didact Gothic', sans-serif;
}

.form-control { 
	outline:0 !important;
	border-width:0 0 2px !important;
	border-color: #337AB7 !important;
}

.navbar-nav li a:hover {
	color:#337ab7 !important;
	background-color:white !important;
}

.thumbnail
{
	margin-bottom:0 !important;
	margin-top:0 !important;
}

.complete:hover
{
	background-color:#00df0f !important;
	border-color:white;
}

.navbar-brand
{
	padding: 12px 25px !important;
}

.well
{
	margin-top:5% !important;
}

h3
{
	margin-top:0 !important;
	margin-bottom: 0 !important;
}

.panel-heading
{
	background-color:#337ab7 !important;
	color:white !important;
}

.panel-body
{
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
	border: 1px solid #337ab7;
}

.panel-body.conferma
{
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
	border: 1px solid #337ab7;
	border-top:0;
}

.input-group-addon
{
	border: 2px solid !important;
	border-width:0 0 2px !important;
	border-color: #337AB7 !important;
	min-width:150px !important;
}

tr
{
    border-top: 1px solid #337ab7 !important;
	border-right: 1px solid #337ab7 !important;
	border-left: 1px solid #337ab7 !important;
	border-bottom: 1px solid #337ab7 !important;
}

thead
{
	border:0 !important;
	background-color: #337ab7;
	color:white;
}

.table > thead:first-child > tr:first-child > th
{
	border-top: 0 !important;
    border-bottom: 0 !important;

}

.table > tbody > tr > td
{
	border-top: 0 !important;
}

table
{
	border-collapse: collapse !important;		/*bordo mostrato come singola linea*/
	border-radius: 3px !important;
	overflow: hidden !important; 				/*nasconde ciò che esce rispetto ai bordi*/
}

.slots
{
	background-color:#CC3535 !important;
	color:white !important;
}

.slotBody
{
	border: 1px solid #CC3535 !important;
}

.panel-body .slotBody
{
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
	border: 1px solid #CC3535;
}

.divisore
{
	margin-top:5px !important;
	margin-bottom:5px !important;
}

.list-group-item
{
	border: 1px solid #337ab7 !important;
}

.list-group-item:first-child
{
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom:0 !important;
}

h4
{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
